<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/constants.css">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <nav class="nav">
    <h1 class="nav__title">BeautifulSearch</h1>
    <div class="nav__links">
      <a href="#">Dashboard</a>
    </div>
  </nav>

  <%= yield %>

  <footer>
    <ul>
      <li>Copyright to BeautifulSearch 2019</li>
    </ul>
  </footer>
</body>
</html>
