body {
  font-family: var(--sans);
  background: var(--grey-lightest);
}

input {
  border: 1px solid var(--grey);
  padding: var(--spacing-3) var(--spacing-2);
  border-radius: var(--border-4);
}

button {
  padding: var(--spacing-3) var(--spacing-6);
  border: none;
  border-radius: var(--border-4);
  cursor: pointer;
}

button:hover {
  box-shadow: var(--shadow-lg);
}

button:disabled {
  opacity: var(--opacity-75);
  cursor: not-allowed;
}

.button--primary {
  background: var(--black);
  color: var(--white);
}

.button--secondary {
  background-color: var(--white);
  color: var(--grey-dark);
  border: 1px solid;
}

.matter {
  padding-top: var(--spacing-4);
}


/* home view css */
.home__container {
  margin: var(--spacing-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connection__box {
  background: var(--white);
  max-width: var(--tablet);
  width: 100%;
  box-shadow: var(--shadow-default);
  padding: var(--spacing-8);
  margin-left: auto;
  margin-right: auto;
}

.connection__welcome-text {
  text-transform: uppercase;
  color: var(--grey-darker);
}

.connection__headline {
  margin-top: var(--spacing-8);
  font-weight: var(--bold);
  color: var(--grey-darkest);
  margin-bottom: 0;
}

.connection__subheading {
  margin-top: var(--spacing-4);
  color: var(--grey-dark);
  font-weight: var(--light);
  font-size: var(--lg);
}

.connection__url {
  display: block;
  width: 100%;
}

.connection__button {
  display: block;
  margin-top: var(--spacing-4);
}


.core__list {
  margin-top: var(--spacing-8);
  display: flex;
  flex-direction: column;
  background: var(--white);
  padding: var(--spacing-4);
  max-width: var(--tablet);
  width: 100%;
  box-shadow: var(--shadow-default);
  padding: var(--spacing-8);
  margin-left: auto;
  margin-right: auto;
}

.core__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.core__item > label {
  font-size: var(--base);
  font-weight: var(--semibold);
}

.core__item input {
  margin-right: var(--spacing-3);
}


/* schema view css */
.schema {
  background-color: white;
  margin: var(--spacing-8);
}

.schema__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: var(--spacing-4);
  padding: var(--spacing-6);
}

.schema__welcome-text {
  color: #1e2328;
  font-weight: var(--thin);
  font-size: var(--xl4);
  margin: 0;
}

.schema__headline {
  color: #647487;
  margin-top: var(--spacing-3);
}

.create-schema__button {
  display: block;
  margin-top: var(--spacing-4);
  margin-left: var(--spacing-6);
  box-shadow: var(--shadow-default);
}

.schema-attribute__container {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-20) var(--spacing-32);
}

.schema-container__table {
  width: 100%;
}

.schema__attribute {
  color: #1e2328;
  line-height: 60px;
  border-bottom: 1px solid var(--grey-lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schema__attribute:last-child {
  border-bottom: none;
  margin-bottom: var(--spacing-4);
}

.attribute__value {
  background-color: var(--white);
  padding: var(--spacing-2);
  color: #3b454f;
  border: 1px solid var(--grey);
  float: right;
  border-radius: var(--border-2);
}

/* Documents View Css */

.documents {
  background-color: var(--white);
  margin: var(--spacing-8);
}

.documents__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-4);
  padding: var(--spacing-6);
}

.documents__welcome-text {
  color: #1e2328;
  font-weight: var(--thin);
  font-size: var(--xl4);
  margin: 0;
}

.documents-attribute__container {
  display: flex;
  flex-direction: column;
}

.documents-attribute__table {
  width: 100%;
}

.documents__attributes {
  margin: var(--spacing-10);
  border-radius: var(--border-2);
  border: 1px solid var(--grey-lighter);
  box-shadow: var(--shadow-default);
  padding: 0 var(--spacing-4);
}

.document__attribute {
  color: #3B454F;
  display: grid;
  grid-template-columns: calc(35% + 55px) 30px 1fr;
  grid-gap: 4px;
}