body {
  font-family: var(--sans);
  background: var(--grey-lightest);
}

input {
  border: 1px solid var(--grey);
  padding: var(--spacing-3) var(--spacing-2);
  border-radius: var(--border-4);
}

button {
  padding: var(--spacing-3) var(--spacing-6);
  border: none;
  border-radius: var(--border-4);
  cursor: pointer;
}

button:hover {
  box-shadow: var(--shadow-lg);
}

button:disabled {
  opacity: var(--opacity-75);
  cursor: not-allowed;
}

.button--primary {
  background: var(--black);
  color: var(--white);
}

.button--secondary {
  background-color: var(--white);
  color: var(--grey-dark);
  border: 1px solid;
}

.matter {
  padding-top: var(--spacing-4);
}


/* home view css */
.home__container {
  margin: var(--spacing-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connection__box {
  background: var(--white);
  max-width: var(--tablet);
  width: 100%;
  box-shadow: var(--shadow-default);
  padding: var(--spacing-8);
  margin-left: auto;
  margin-right: auto;
}

.connection__welcome-text {
  text-transform: uppercase;
  color: var(--grey-darker);
}

.connection__headline {
  margin-top: var(--spacing-8);
  font-weight: var(--bold);
  color: var(--grey-darkest);
  margin-bottom: 0;
}

.connection__subheading {
  margin-top: var(--spacing-4);
  color: var(--grey-dark);
  font-weight: var(--light);
  font-size: var(--lg);
}

.connection__url {
  display: block;
  width: 100%;
}

.connection__button {
  display: block;
  margin-top: var(--spacing-4);
}


.core__list {
  margin-top: var(--spacing-8);
  display: flex;
  flex-direction: column;
  background: var(--white);
  padding: var(--spacing-4);
  max-width: var(--tablet);
  width: 100%;
  box-shadow: var(--shadow-default);
  padding: var(--spacing-8);
  margin-left: auto;
  margin-right: auto;
}

.core__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.core__item > label {
  font-size: var(--base);
  font-weight: var(--semibold);
}

.core__item input {
  margin-right: var(--spacing-3);
}


/* schema view css */
.schema {
  background-color: white;
  margin: var(--spacing-8);
}

.schema__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: var(--spacing-4);
  padding: var(--spacing-6);
}

.schema__welcome-text {
  color: #1e2328;
  font-weight: var(--thin);
  font-size: var(--xl4);
  margin: 0;
}

.schema__headline {
  color: #647487;
  margin-top: var(--spacing-3);
}

.create-schema__button {
  display: block;
  margin-top: var(--spacing-4);
  margin-left: var(--spacing-6);
  box-shadow: var(--shadow-default);
}

.schema-attribute__container {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-20) var(--spacing-32);
}

.schema-container__table {
  width: 100%;
}

.schema__attribute {
  color: #1e2328;
  line-height: 60px;
  border-bottom: 1px solid var(--grey-lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schema__attribute:last-child {
  border-bottom: none;
  margin-bottom: var(--spacing-4);
}

.schema-attribute__name {
  min-width: 150px;
}

.attribute__value {
  background-color: var(--white);
  padding: var(--spacing-2);
  color: #3b454f;
  border: 1px solid var(--grey);
  float: right;
  border-radius: var(--border-2);
}

.delete__button {
  padding: var(--spacing-2);
  color: var(--red-dark);
  margin-left: var(--spacing-8);
  background: white;
}

/* Documents View Css */

.documents {
  background-color: var(--white);
  margin: var(--spacing-8);
}

.documents__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-4);
  padding: var(--spacing-6);
}

.documents__welcome-text {
  color: #1e2328;
  font-weight: var(--thin);
  font-size: var(--xl4);
  margin: 0;
}

.documents-attribute__container {
  display: flex;
  flex-direction: column;
}

.documents-attribute__table {
  width: 100%;
}

.documents__attributes {
  margin: var(--spacing-10);
  border-radius: var(--border-2);
  border: 1px solid var(--grey-lighter);
  box-shadow: var(--shadow-default);
  padding: 0 var(--spacing-4);
}

.document__attribute {
  color: #3B454F;
  display: grid;
  grid-template-columns: calc(35% + 55px) 30px 1fr;
  grid-gap: 4px;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #fff0; */
  /* background: white; */
  background: var(--overlay-color);
}

.modal__content {
  position: absolute;
  top: 80px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: var(--white);
  padding: var(--spacing-4);
}


.form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-4);
}

.form__row label {
  font-weight: var(--bold);
  padding-bottom: var(--spacing-4);
}

/* Synonyms views css */

.synonyms {
  background-color: var(--white);
  margin: var(--spacing-8);
  padding: var(--spacing-4);
  max-width: var(--tablet);
  margin-left: auto;
  margin-right: auto;
}

.synonyms__heading {
  font-size: var(--xl4);
  text-align: center;
}

.synonyms-body__text {
  font-size: var(--xl2);
  text-align: center;
  color: var(--grey-dark);
  margin-top: var(--spacing-8);
}

.synonyms__action {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-4);
}

.synonyms-modal__content {
  background-color: var(--white);
  padding: var(--spacing-4);
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.synonym-modal__header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.close {
  font-size: var(--xl2);
  cursor: pointer;
}

.synonyms__text {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--spacing-4);
  background: var(--white);
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-radius: 2px;
  border-color: var(--grey-dark)
}

.synonyms__type {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: var(--spacing-4);
}

.synonyms-source__type {
  cursor: pointer;
  width: 60%;
  padding: var(--spacing-4);
  text-align: center;
  text-decoration: underline;
  color: var(--grey-darker);
}

.synonyms-source__active {
  background: var(--grey-lighter);
  border-radius: var(--border-radius-lg);
  text-decoration: none;
  color: var(--black);
}

.synonyms-action__button {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-8);
}

.synonyms-attribute__table {
  width: 100%;
  border-collapse: collapse;
}

.synonyms-attribute__head,
.synonyms-attribute__body {
  line-height: 2.25;
}

.synonyms-attribute__body:hover {
  cursor: pointer;
  background-color: var(--grey-lighter)
}

.synonyms-attribute__body th {
  font-weight: 400;
}

.synonyms-expansion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.synonyms-espression {
  color: var(--grey-dark);
  font-size: 20px;
}

/* relevance view css */
.relevance {
  background-color: white;
  margin: var(--spacing-8);
}

.relevance__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--spacing-4);
  padding: var(--spacing-6);
}

.relevance__welcome-text {
  color: #1e2328;
  font-weight: var(--thin);
  font-size: var(--xl4);
  margin: 0;
}

.relevance__headline {
  color: #647487;
  margin-top: var(--spacing-3);
}

.create-relevance__button {
  display: block;
  margin-top: var(--spacing-4);
  margin-left: var(--spacing-6);
  box-shadow: var(--shadow-default);
}

.relevance-attributes__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--grey-light);
  cursor: pointer;
  padding: var(--spacing-2);
}

.relevance__attribute {
  display: flex;
  flex-direction: column;
}

.relevance__attribute:last-child {
  border-bottom: none;
}

.relevance-attribute__container {
  display: flex;
}

.relevance-attribute__filter {
  padding: 0 var(--spacing-4);
  border: 1px solid var(--grey);
  height: 24px;
  border-radius: var(--border-4);
  margin-left: var(--spacing-6);
  cursor: pointer;
  color: var(--grey-darker);
  display: flex;
  align-items: center;
}

.relevance-attribute__table {
  border-collapse: collapse;
}

.relevance__attributes {
  margin: var(--spacing-10);
  padding: 0 var(--spacing-4);
  margin-top: var(--spacing-6);
  width: 30%;
}

.relevance-attribute__name {
  font-weight: 600;
  font-size: var(--base);
  line-height: 1.5;
  padding: var(--spacing-4);
  padding-bottom: 0;
}

.relevance-attribute__type {
  color: var(--grey-darker);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--xs);
  padding: var(--spacing-4);
  padding-top: var(--spacing-1);
}

.preview__container {
  margin-top: var(--spacing-8);
  border-radius: var(--border-2);
  border: 1px solid var(--grey-lighter);
  box-shadow: var(--shadow-default);
  padding: var(--spacing-6);
  height: fit-content;
  height: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
}

.preview__text {
  font-size: 28px;
  font-weight: 300;
  line-height: 2.5;
}

.preview__input {
  width: 95%;
}

.search__alert {
  padding: var(--spacing-16);
  font-weight: 400;
  color: var(--grey-dark);
}

.relevance-edit {
  border-radius: var(--border-2);
  border: 1px solid var(--grey-lighter);
  box-shadow: var(--shadow-default);
  margin-bottom: var(--spacing-4);
}

.relevance-edit__settings {
  border-bottom: none;
  background-color: var(--grey-lighter);
}

.boosts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding: var(--spacing-4);
}

.relevance-container {
  padding: var(--spacing-4);
  border-bottom: 1px solid var(--grey-light);
}

.relevance-value__change {
  display: flex;
  align-items: center;
}

.relevance-value__header {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--grey-dark);
  margin-bottom: var(--spacing-4);
  font-size: var(--xs);
}

.boost-text__header {
  margin-bottom: unset;
}

.relevance-value__text {
  font-size: var(--base);
  margin-left: var(--spacing-4);
  color: var(--grey-darker);
}

.slider {
  -webkit-appearance: none;
  height: 0px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding: 0;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--grey-dark);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--grey-dark);
  cursor: pointer;
}

.slider-value {
  width: 10%;
  margin-left: var(--spacing-4);
}

.slide-panel__overlay {
  background: var(--overlay-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.slide-panel__overlay--hide {
  position: initial;
}

.slide__panel {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(171,172,190,.08), 0 2px 4px 0 rgba(35,37,51,.1);
  box-shadow: 0 0 0 1px rgba(171,172,190,.08), 0 2px 4px 0 rgba(35,37,51,.1);
  /* overflow: scroll; */
  position: fixed;
  top: 0;
  right: -384px;
  -webkit-transition: .5s;
  transition: .5s;
  width: 384px;
  height: 100%;
  z-index: 300;
}

.panel-checkbox__container  {
  min-width: 60px;
}

.slide-panel__checkbox {
  height: 25px;
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
  border-radius: 50%;
  border: 1px solid var(--grey);
}

.slide-panel__content {
  display: flex;
  border-bottom: 1px solid var(--grey-light);
}

.slide-panel__content:last-child {
  border-bottom: none;
}

.slide__panel--visible {
  right: 0;
}

.slide-panel__heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slide-panel__text {
  font-weight: 600;
  margin-bottom: var(--spacing-2);
  color: var(--grey-darkest);
}

.panel-text__container {
  margin-bottom: var(--spacing-4);
  margin-top: var(--spacing-4);
  margin-right: var(--spacing-4);
}

.slide-panel__body {
  font-size: var(--sm);
  line-height: 1.5;
  color: var(--grey-dark);
}

.panel-upload__link {
  margin-top: var(--spacing-6);
}

.progress-bar__text {
  font-size: var(--sm);
}

.progress-bar__container {
  padding: var(--spacing-4);
}

.panel-progress__bar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  width: 350px;
  height: 10px;
}

.panel-progress__bar[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  border-radius: 10px;
}